flows/Interaction_Report_Contact-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Face_to_Face</name>
        <choiceText>Face-to-Face</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Face-to-Face</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Behalf_Decision</name>
        <label>Behalf Decision</label>
        <locationX>16</locationX>
        <locationY>112</locationY>
        <defaultConnector>
            <targetReference>Contact_Account_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>UserEntered</defaultConnectorLabel>
        <rules>
            <name>On_Behalf</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Behalf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Input</targetReference>
            </connector>
            <label>On Behalf</label>
        </rules>
    </decisions>
    <decisions>
        <name>Behalf_Update</name>
        <label>Behalf Update</label>
        <locationX>471</locationX>
        <locationY>334</locationY>
        <defaultConnector>
            <targetReference>User_Entered_Create</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>User Entered</defaultConnectorLabel>
        <rules>
            <name>Behalf_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Behalf</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Behalf_Create</targetReference>
            </connector>
            <label>Behalf Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_2_Check</name>
        <label>Contact 2 Check</label>
        <locationX>596</locationX>
        <locationY>67</locationY>
        <defaultConnectorLabel>Contact 2 Not Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_2_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContactID2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Relation_Record_Create</targetReference>
            </connector>
            <label>Contact 2 Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_2_Check_User_Entered</name>
        <label>Contact 2 Check User Entered</label>
        <locationX>814</locationX>
        <locationY>244</locationY>
        <defaultConnectorLabel>Contact 2 User Not Exists</defaultConnectorLabel>
        <rules>
            <name>Contact_2_User_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContactID2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_Relation_Record_Create_User_Entered</targetReference>
            </connector>
            <label>Contact 2 User Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_2_Text_Check</name>
        <label>Contact 2 Check</label>
        <locationX>461</locationX>
        <locationY>610</locationY>
        <defaultConnector>
            <targetReference>Interaction_Report</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact 2 Missing</defaultConnectorLabel>
        <rules>
            <name>Contact_2_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact_Name_2</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Matching_Contact_2</targetReference>
            </connector>
            <label>Contact 2 Present</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountSearch</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountRelationID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSelectedAccountID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedAccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OtherRecordChoice</name>
        <dataType>String</dataType>
        <displayField>AQB_NameFlowSearch__c</displayField>
        <filters>
            <field>AQB_NameFlowSearch__c</field>
            <operator>Contains</operator>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSelectedContactFullName</assignToReference>
            <field>AQB_NameFlowSearch__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>AQB_NameFlowSearch__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchContact</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSelectedAccountID</elementReference>
            </value>
        </filters>
        <limit>100</limit>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSelectedContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SearchContact2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Contact_Name_2</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSelectedAccountId2</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactID2</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactFullName2</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>User_Search</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>User_Name</elementReference>
            </value>
        </filters>
        <limit>50</limit>
        <object>User</object>
        <outputAssignments>
            <assignToReference>varSelectedUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedUserName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>Finds User</description>
        <name>USER</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Interaction Report - Contact {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interaction Report - Contact</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Behalf_Create</name>
        <label>Behalf Create</label>
        <locationX>481</locationX>
        <locationY>182</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_2_Check</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_of_Interaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Full_Report</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varSelectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varSelectedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varSelectedContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Relation_Record_Create</name>
        <label>Task Relation Record Create</label>
        <locationX>810</locationX>
        <locationY>116</locationY>
        <inputAssignments>
            <field>IsWhat</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>varSelectedContactID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId</field>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputAssignments>
        <object>TaskRelation</object>
    </recordCreates>
    <recordCreates>
        <name>Task_Relation_Record_Create_User_Entered</name>
        <label>Task Relation Record Create User Entered</label>
        <locationX>960</locationX>
        <locationY>373</locationY>
        <inputAssignments>
            <field>IsWhat</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>varSelectedContactID2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskId</field>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </inputAssignments>
        <object>TaskRelation</object>
    </recordCreates>
    <recordCreates>
        <name>User_Entered_Create</name>
        <label>User Entered Create</label>
        <locationX>637</locationX>
        <locationY>256</locationY>
        <assignRecordIdToReference>TaskId</assignRecordIdToReference>
        <connector>
            <targetReference>Contact_2_Check_User_Entered</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Date_of_Interaction</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Full_Report</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>USER</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>varPriority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>varStatus</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>varSelectedAccountID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>varSelectedContactID</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordLookups>
        <name>Contact_Account_Lookup</name>
        <label>Contact Account Lookup</label>
        <locationX>17</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Search</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMainContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varAccountRelationID</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Main_Contact</name>
        <label>Main Contact</label>
        <locationX>75</locationX>
        <locationY>419</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Input2</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varMainContactID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varSelectedContactID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactFullName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Account_Search</name>
        <label>Account Search</label>
        <locationX>47</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Main_Contact</targetReference>
        </connector>
        <fields>
            <name>AccountNameSearch</name>
            <choiceReferences>AccountSearch</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Associated Account</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Input2</name>
        <label>Contact Input2</label>
        <locationX>243</locationX>
        <locationY>535</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_2_Text_Check</targetReference>
        </connector>
        <fields>
            <name>Contact_Name_2</name>
            <dataType>String</dataType>
            <fieldText>Contact Name 2</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact2Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact2Txt</name>
            <fieldText>**If you do not require a second contact, leave field blank, and do not select a record on the next page.

** Enter the name of the contact you had an interaction with.  This is a keyword search.

Example 1: John Smith - returns all users with &quot;John Smith&quot; in their name.

Example 2: John - returns all users with &quot;John&quot; in their name.

Example 3: Smith - returns all users with &quot;Smith&quot; in their name.


Click the &quot;Next&quot; button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Interaction_Report</name>
        <label>Interaction Report</label>
        <locationX>474</locationX>
        <locationY>421</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Behalf_Update</targetReference>
        </connector>
        <fields>
            <name>ContactName</name>
            <fieldText>Account - {!varSelectedAccountName}
Contact Name - {!varSelectedContactFullName}
Contact Name 2 - {!varSelectedContactFullName2}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Date_of_Interaction</name>
            <dataType>Date</dataType>
            <fieldText>Date of Interaction</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>Face_to_Face</choiceReferences>
            <choiceReferences>Phone</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Interaction Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Interaction Report -</stringValue>
            </defaultValue>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Full_Report</name>
            <fieldText>Full Report</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>IRSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>InteractionReportTxt</name>
            <fieldText>Click the &quot;Next&quot; button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_Contact_2</name>
        <label>Matching Contact 2</label>
        <locationX>658</locationX>
        <locationY>529</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Interaction_Report</targetReference>
        </connector>
        <fields>
            <name>Matching_Contact_Records_2</name>
            <choiceReferences>SearchContact2</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Matching Contact Records 2</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MatchContact2Space</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Match2Next</name>
            <fieldText>Click the &quot;Next&quot; button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Matching_User</name>
        <label>Matching User</label>
        <locationX>217</locationX>
        <locationY>231</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Account_Lookup</targetReference>
        </connector>
        <fields>
            <name>Select_User</name>
            <choiceReferences>User_Search</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select User</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>MUSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>MatchingUserTxt</name>
            <fieldText>Click the &quot;Next&quot; button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Input</name>
        <label>User Input</label>
        <locationX>223</locationX>
        <locationY>112</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Matching_User</targetReference>
        </connector>
        <fields>
            <name>User_Name</name>
            <dataType>String</dataType>
            <fieldText>User Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>UISpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserInputTxt</name>
            <fieldText>** Enter the name of the user that had this interaction.  This is a keyword search.

Example 1: John Smith - returns all users with &quot;John Smith&quot; in their name.

Example 2: John - returns all users with &quot;John&quot; in their name.

Example 3: Smith - returns all users with &quot;Smith&quot; in their name.


Click the &quot;Next&quot; button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Selection</name>
        <label>User Selection</label>
        <locationX>16</locationX>
        <locationY>18</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Behalf_Decision</targetReference>
        </connector>
        <fields>
            <name>OnBehalf</name>
            <fieldText>Are you entering this interaction report on behalf of someone else?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Behalf</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>USSpace</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>UserNextText</name>
            <fieldText>Click the &quot;Next&quot; button to continue.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>User_Selection</startElementReference>
    <variables>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varAccountRelationID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMainContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varMainContactName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOppAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>OpportunityI ID</description>
        <name>varOppID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varOpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varPriority</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Low</stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedAccountId2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedContactFullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedContactFullName2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedContactID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedContactID2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varSelectedUserName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>varStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Completed</stringValue>
        </value>
    </variables>
</Flow>
